* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.white-mode {
  background-color: #ffffff;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* -------- Sidebar -------- */

.sidebar {
  position: absolute;
  left: 50px;
  width: 140px;
  border-radius: 20px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  z-index: 10;
}

.sidebar button {
  width: 120px;
  display: block;
}



/* -------- Calculadora -------- */

.calculator {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  z-index: 2;
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  background-color: #111;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/*-----Botones------ */

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #666;
}

button:focus {
  outline: none;
}

#equals {
  background-color: #08b811;
}

#clear, #back {
  background-color: #c0392b;
}

#clear:hover,
#back:hover {
  background-color: #e74c3c;
}

#clear {
  grid-column: span 4;
}

#back {
  grid-column: span 2;
}

/* -------- Panel Científico -------- */


#panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: #2d2d2d;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

#panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  border-radius: 12px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.panel-hidden {
  display: none !important;
}

.panel-hidden.mostrar {
  opacity: 1;
  animation: fadeIn 0.3s ease;
}

/* -------- Historial -------- */

#history{
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #2d2d2d;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  padding: 15px;
}

.history-hidden {
  display: none !important;
}

.history-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.history-header h3 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.4rem;
}

#history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#history-list li {
  padding: 8px 10px;
  margin-bottom: 6px;
  background-color: #424141;
  border-radius: 6px;
  font-family: monospace;
  font-size: 14px;
  word-break: break-word;
  transition: background-color 0.2s;
}

/*---Botón borrar historial----*/

#clear-history {
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

#clear-history:hover {
  background-color: #666;
}

/* -------- Animaciones -------- */

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
